# Angular
arc-damage-calculator/dist
arc-damage-calculator/tmp
arc-damage-calculator/out-tsc
arc-damage-calculator/bazel-out
arc-damage-calculator/node_modules
arc-damage-calculator/.angular/cache
arc-damage-calculator/coverage

# .NET
ArcDamageCalculator.Api/bin
ArcDamageCalculator.Api/obj
ArcDamageCalculator.Api/arcdamage.db
ArcDamageCalculator.Api/arcdamage.db-shm
ArcDamageCalculator.Api/arcdamage.db-wal

# IDEs
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System
.DS_Store
Thumbs.db
